/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET ENDING */

:root {
  --ball-size: 80px;
  --top-position: 40px;
  --ball-color: rgb(255, 0, 0);
  --lighting-color: rgb(255, 160, 122);
  --ground-position: 300px;
}

body {
  background: white;
  width: 100vw;
  height: var(--ground-position);
  position: absolute;
  top: 0;
  border-bottom: 2px solid rgb(90, 69, 24);
}

.bouncing-ball {
  width: var(--ball-size);
  height: var(--ball-size);
  margin: 0 auto;
  margin-top: var(--top-position);
  border-radius: 50%;
  background-color: var(--ball-color);
  background-image: radial-gradient(closest-side at 30% 30%, var(--lighting-color), var(--ball-color));
  animation: bounce 900ms infinite;
  -webkit-animation: bounce 900ms infinite; /* Safari 4+ */
  -moz-animation: bounce 900ms infinite; /* Fx 5+ */
  -o-animation: bounce 900ms infinite; /* Opera 12+ */
}

@keyframes bounce {
  0%, 100% {
    animation-timing-function: ease-in;
    -webkit-animation: ease-in;
    -moz-animation: ease-in;
    -o-animation: ease-in;
    margin-top: var(--top-position);
  }

  50% {
    margin-top: calc(var(--ground-position) - var(--ball-size) + 2px);
  }
}